---

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>SGM Revisit</title>
		<style type="text/css">
		@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400..800&display=swap';

	

			@supports (font-variation-settings: "wght" 450) {
				h1 {
					font-family: 'EB Garamond', serif;
					font-weight: normal;
					font-size: 30px;
					text-transform: uppercase;
				}
				.tagline {
					font-family: 'EB Garamond', serif;
					font-weight: 450;
					font-size: 130px;
					line-height: 1;
					margin-bottom: 100px;
				}
			}
		html {font-size: 100%; font-family: 'EB Garamond', serif;}
		header {
			background: url('../../assets/Saint-Gaudens-Farragut.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			height: 100vh;
		}
		main { 
			margin-left: 100px;
			margin-right: 100px;
			font-size: 1.5rem;
		}
		img {max-width: 100%;}
		.images {
			display: flex;
			justify-content: space-between;
			margin-top: 60px;
		}
		.image {
			height: 480px;
			width: 380px;
		}
		.img1 {
			background: url('../../public/assets/Saint-Gaudens-Farragut.jpg');
			background-size: cover;
			background-repeat: no-repeat;
		}
		.img2 {
			background: url('../../public/assets/Saint-Gaudens-Farragut.jpg');
			background-size: cover;
			background-repeat: no-repeat;			
		}
		.img3 {
			background: url('../../public/assets/Saint-Gaudens-Farragut.jpg');
			background-size: cover;
			background-repeat: no-repeat;			
		}
		.intro {
			font-size: 36px;
			line-height: 48px;
		}
		.linkdiv {
			margin-top: 2rem;
			text-align: center;
		}	
		.linkdiv a {
			font-size: 36px;
			line-height: 1;
		}	
		a { text-decoration: underline;}
		a:visited { color: #000;}
		footer { display: flex;}
		section h1 {font-size: 128px; text-transform: capitalize;}
		section h2 { font-size: 64px; font-weight: normal;}
		section h3 { font-size: 48px; font-weight: normal; font-style: italic;}

		table {min-width: 100%; }
		table, th, td {
			border-top: 2px solid;
			border-collapse: collapse;
		}
		table tr:last-of-type { border-bottom: 2px solid #000;}
		td { padding-top: 5px;}
		td:nth-child(2) { font-size: 36px;}
		td:nth-child(3) {
			text-align: right;
		}
		
		tr {border-top: 1px; border-color: #000;}
		date { font-family: Roboto, sans-serif;}
		.pre-footer {display: flex; justify-content: space-between;}
		.pre-footer h1 { font-size: 54px; }
		.programs-container { display: flex;}
		.programs-container article h1,
		.pre-footer article h1 { 
			border-bottom: 1px solid red;
  			}
		.programs article h1 {
			font-size: 64px;
		}
		.concerts p, .workshops p, .programs p {
			font-size: 36px;
			line-height: 48px;
		}
		.current {
			display: flex;
		}
			
		</style>
	</head>
	<body>
		<header>
			
		</header>
		<main>
			<h1>Saint-Gaudens Memorial</h1>
			<div class="tagline">Celebrating the Arts Past and Present</div>
				<p class="intro">
			The Saint-Gaudens Memorial celebrates the legacy of American sculptor 
Augustus Saint-Gaudens through sponsorship of concerts, exhibitions and fellowship at the Saint-Gaudens National Historical Park in Cornish, New Hampshire.
			</p>
			<div class="images">
				<div>
					<img src="../../public/assets/Saint-Gaudens-Farragut.jpg" alt="image" height="470" width="380" />
					<div class="linkdiv"><a href="#">About</a></div>

				</div>
				<div class="image img1">
					<img src="../../public/assets/Saint-Gaudens-Farragut.jpg" alt="image" height="470" width="380" />
					<div class="linkdiv"><a href="#">Visit</a></div>

				</div>
				<div class="image img1">
					<img src="../../public/assets/Saint-Gaudens-Farragut.jpg" alt="image" height="470" width="380" />
					<div class="linkdiv"><a href="#">Saint-Gaudens</a></div>
				</div>
			</div>
			<section class="exhibits">
				
					<h1>Current Exhibition</h1>
					<div class="current">
					<div>
						
						<h2>Jennifer Paige Cohen</h2>
						<h3>Painted Plasters</h3>
						<date>SEPTEMBER 4 - OCTOBER 21, 2021</date>
						<p>Thrilling new sculptures by a young Brooklyn artist channel the spirit of Edgar Degas “Little Dancer Aged 14” in her tutu of cotton and silk. Cohen embeds items of clothing into white plaster objects that also incorporate cast portions of bodies. Inpeccably installed on pedestals of varying heights, the pieces register initially as abstractions of striking formal integrity, a series of playoffs between white and polychrome, smooth and textured, flat and dimensional, somber and playful. And then you glimpse aspects of figures — an elbow, a shoulder, a & knee, like new friends gliding into the room.</p>
						<h3>Upcoming Exhibitions...</h3>
					</div>
					<img src="../../public/assets/jenn.png" height="470" width="380" alt="jennifer paige cohen" />
				</div>
				<table>
					<tr>
						<td><img src="../../public/assets/Saint-Gaudens-Farragut.jpg" width="150" height="96" alt="picture" /></td>
						<td><p>Mariana Ramirez</p></td>
						<td><date>APRIL 28, 2021</date></td>
					</tr>
					<tr>
						<td><img src="../../public/assets/Saint-Gaudens-Farragut.jpg" width="150" height="96" alt="pic" /></td>
						<td><p>Mariana Ramirez</p></td>
						<td><date>APRIL 28, 2021</date></td>
					</tr>
				</table>
			</section>
			<section class="concerts">
				<h1>Summer Concerts</h1>
				<p>
				Saint-Gaudens Memorial sponsors a series of free summer concerts at Saint-Gaudens National Historical Park in Cornish, New Hampshire. The performances carry on a tradition of Augustus Saint-Gaudens, who often held concerts in his studio for family and friends. This annaul program was initiated by the Memorial in 1952.
				</p>
				<table>
					<tr>
						<td><img src="../../public/assets/Saint-Gaudens-Farragut.jpg" width="150" height="96" alt="picture" /></td>
						<td><p>Mariana Ramirez</p></td>
						<td><date>APRIL 28, 2021</date></td>
					</tr>
					<tr>
						<td><img src="../../public/assets/Saint-Gaudens-Farragut.jpg" width="150" height="96" alt="picture" /></td>
						<td><p>Mariana Ramirez</p></td>
						<td><date>APRIL 28, 2021</date></td>
					</tr>
					<tr>
						<td><img src="../../public/assets/Saint-Gaudens-Farragut.jpg" width="150" height="96" alt="picture" /></td>
						<td><p>Mariana Ramirez</p></td>
						<td><date>APRIL 28, 2021</date></td>
					</tr>
					<tr>
						<td><img src="../../public/assets/Saint-Gaudens-Farragut.jpg" width="150" height="96" alt="picture" /></td>
						<td><p>Mariana Ramirez</p></td>
						<td><date>APRIL 28, 2021</date></td>
					</tr>
					<tr>
						<td><img src="../../public/assets/Saint-Gaudens-Farragut.jpg" width="150" height="96" alt="picture" /></td>
						<td><p>Mariana Ramirez</p></td>
						<td><date>APRIL 28, 2021</date></td>
					</tr>
					<tr>
						<td><img src="../../public/assets/Saint-Gaudens-Farragut.jpg" width="150" height="96" alt="picture" /></td>
						<td><p>Mariana Ramirez</p></td>
						<td><date>APRIL 28, 2021</date></td>
					</tr>
				</table>
			</section>
			<section class="workshops">
				<h1>Workshops</h1>
				<p>
Sculpture workshops are co-sponsored by the Saint-Gaudens Memorial and the Saint-Gaudens National Historical Park (SGNHP). The classes are taught by the Sculptor-in-Residence. This program was initiated by the Memorial in 1969 and is the oldest artist residency in the National Park Service system.				</p>
				<table>
					<tr>
						<td><img src="../../public/assets/Saint-Gaudens-Farragut.jpg" width="150" height="96" alt="picture" /></td>
						<td><p>Mariana Ramirez</p></td>
						<td><date>APRIL 28, 2021</date></td>
					</tr>
					<tr>
						<td><img src="../../public/assets/Saint-Gaudens-Farragut.jpg" width="150" height="96" alt="picture" /></td>
						<td><p>Mariana Ramirez</p></td>
						<td><date>APRIL 28, 2021</date></td>
					</tr>
					<tr>
						<td><img src="../../public/assets/Saint-Gaudens-Farragut.jpg" width="150" height="96" alt="picture" /></td>
						<td><p>Mariana Ramirez</p></td>
						<td><date>APRIL 28, 2021</date></td>
					</tr>
					<tr>
						<td><img src="../../public/assets/Saint-Gaudens-Farragut.jpg" width="150" height="96" alt="picture" /></td>
						<td><p>Mariana Ramirez</p></td>
						<td><date>APRIL 28, 2021</date></td>
					</tr>
					<tr>
						<td><img src="../../public/assets/Saint-Gaudens-Farragut.jpg" width="150" height="96" alt="picture" /></td>
						<td><p>Mariana Ramirez</p></td>
						<td><date>APRIL 28, 2021</date></td>
					</tr>
					<tr>
						<td><img src="../../public/assets/Saint-Gaudens-Farragut.jpg" width="150" height="96" alt="picture" /></td>
						<td><p>Mariana Ramirez</p></td>
						<td><date>APRIL 28, 2021</date></td>
					</tr>
				</table>
			</section>
			<section class="programs">
				<h1>Programs</h1>
				<div class="programs-container">
					<article>
						<h1>Fellowship</h1>
						<p>The Saint-Gaudens Fellowship is an annual award presented to an emerging American artist</p>
						<img src="" alt="picture" />
						<a href="#">Link</a>
					</article>
					<article>
						<h1>Saint-Gaudens Medal</h1>
						<p>
						Awarded to persons who have made a contribution to the Arts in the tradition of Augustus Saint-Gaudens.
						</p>
						<img src="" alt="medal"/>
						<a href="#">Link</a>
					</article>
				</div>
			</section>
			<section class="pre-footer">
				<article>
					<h1>Open Now</h1>
					<p>Friday, Oct. 15, 2021<br>
9:00 a.m. - 4:30 p.m.</p>
					<a>Open season</a> / <a>Off season</a>
				</article>
				<article>
					<h1>Location</h1>
					<p>139 Saint-Gaudens Road<br>
Cornish, New Hampshire, 03745</p>
					<a>Get Directions</a>
				</article>
				<article>
					<h1>Admission</h1>
					<p>$10 16 yrs+<br>
Free for 15 and younger</p>
					<a>Buy a Pass</a>
				</article>
			</section>
			<footer>
				<div>Youtube</div>
				<div>Insta</div>
				<div>Contact Us</div>
				<div>SignUp <input type="text"></div>
			<footer>
		</main>
	</body>
</html>